<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Titre</th>
      <th>Contenu</th>
      <th>Price</th>
      <th>Jour</th>
      <th>Age</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.nom.capitalize %></td>
        <td><%= article.titre.capitalize %></td>
        <td><%= article.contenu %></td>
        <td><%= article.price %></td>
        <td><%= article.jour %></td>
        <td><%= article.age %></td>
        
        <td><%= link_to 'S', article %></td>
        <td><%= link_to 'E', edit_article_path(article) %></td>
        <td><%= link_to 'D', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
<%= link_to 'Accueil', new_article_path %>
