<p id="notice"><%= notice %></p>
<p>
  <strong>Identifiant:</strong>
  <%= @acquereur.id %>
</p>
<p>
  <strong>Nom:</strong>
  <%= @acquereur.nom %>
</p>
<p>
  <strong>Prénom:</strong>
  <%= @acquereur.prenom %>
</p>
<%= link_to 'Edit', edit_acquereur_path(@acquereur) %> |
<%= link_to 'Back', acquereurs_path %>
